body {
    background-color: rgb(6, 28, 69);
    color: white;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    
    margin: 0px;
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;



}
ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.right {
    font-size: 50px;
    font-weight: 700;
}

.left {
    font-size: 24px;
    font-weight: 500;
}

.first {
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    font-size: 20px;
}
.leftfirst {
    img{
        width: 400px;
        height: 400px;
    
        }}
.rightfirst {
    max-width: 800px;
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}
.textfirst {
    font-size: 30px;
    font-weight: 600;
    color: aqua;
}

button{
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    color: rgb(6, 28, 69);
    background-color: aqua;
    border-radius: 10px;
    border: 0cap;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 25px;
  font-size: 24px;



}


.about, .projects{
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    font-size: large;
    gap: 10px;
    font-size: 20px;
    font-weight: 700;
}


html{
    scroll-behavior: smooth;
}


a:link {
    text-decoration: none;

}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }
  a:link, a:visited {
    
    color: white;
    

    text-decoration: none;

  }
  
  a:hover, a:active {
    color: aqua;

  }
  
  .button:hover {background-color: #3e8e41}

.button:active {
  background-color: #fc0830;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.projects {
    padding:  100px;

}

div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
    display: flex;
    
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  .images {
    display: flex;
    max-height: 300px;
    justify-content: center;
    align-items: center;
    padding: 300px 100px;
  }


  .contact{
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 16px;
    font-size: 25px;
    font-style: italic;
    font-weight: 700;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
  }
  
  
  .fa:hover {
    opacity: 0.7;
  }
  
  
  .fa-instagram{
    background: #3B5998;
    color: white;
  }